@using System.Diagnostics
@model Allocation.Allot.NormalReportData

@if ((bool?) ViewData["Printing"] == true)
{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}


<section class="invoice">
    <div class="row">
        <div class="col-xs-12 col-md-12 text-center">
            <h2 class="page-header">
                理货正常报告
            </h2>
        </div>
    </div>
    @if (Model.ReportData == null || !Model.ReportData.Any())
    {
        <table class="table">
            <tr>
                <th>
                    申报单位
                </th>
                <th>
                    航班号
                </th>
                <th>
                    主运单号
                </th>
                <th>
                    件数
                </th>
                <th>
                    实际到货件数
                </th>
                <th>
                    状态
                </th>
            </tr>
            <tr>
                <td class="text-center" colspan="6">
                    没有正常的报告数据
                </td>
            </tr>
        </table>
    }
    else
    {
        foreach (var data in  Model.ReportData)
         {
             <table class="table">
                 <tr>
                     <th>
                         申报单位
                     </th>
                     <th>
                         航班号
                     </th>
                     <th>
                         主运单号
                     </th>
                     <th>
                         件数
                     </th>
                     <th>
                         实际到货件数
                     </th>
                     <th>
                         状态
                     </th>
                 </tr>
                 <tr>
                     <td>
                         @data.ApplicationUnit
                     </td>
                     <td>
                         @data.Flight
                     </td>
                     <td>
                         @data.MasterAwb
                     </td>
                     <td>
                         @data.Amount
                     </td>
                     <td>
                         @data.RealAmount
                     </td>
                     <td>
                         异常
                     </td>
                 </tr>
             </table>
         }
    }

 
    
</section>